footer.site-footer
  hr
  div(class="footer-wrapper")
    div(class="row valign-wrapper")
      div(class="col s4")
        p(class="center-align") (503)-945-3421 
      div(class="col s4 media-icons")
        div(class="center-align")
          a(class="" href="https://www.facebook.com/maia.a.erickson")
            i(class="fa fa-facebook" aria-hidden="true" target="_blank") 
          a(class="" href="https://www.instagram.com/maiaaerick/")
            i(class="fa fa-instagram" aria-hidden="true" target="_blank")
          a(class="" href="https://www.linkedin.com/in/maia-erickson-21867899/")
            i(class="fa fa-linkedin" aria-hidden="true" target="_blank")  
    
      div(class="col s4")
        p(class="center-align") &copy; #{moment().format('YYYY')} Maia Erickson
script(src="scripts/customscript.js")
  
