footer.site-footer
  hr
  div(class="row")
    div(class="col s4")
      a(class="" href="https://www.facebook.com/maia.a.erickson")
        i(class="fa fa-facebook fa-2x" aria-hidden="true")
      a(class="" href="https://www.facebook.com/maia.a.erickson")
        i(class="fa fa-twitter fa-2x" aria-hidden="true")     
      a(class="" href="https://www.facebook.com/maia.a.erickson")
        i(class="fa fa-instagram fa-2x" aria-hidden="true")       
    div(class="col s4")
      p(class="center-align") &copy; #{moment().format('YYYY')} Maia Erickson
script(src="scripts/customscript.js")
  
