header.top-bar.site-header
  div(class="navbar-fixed")
    nav
      a(href="/" class="brand-logo left")
        img(class="logoImg",src="/img/me_wide.png")
      ul(class=" padMe right hide-on-small-and-down")
        li
          a(href="/gallery") Gallery
        li
          a(href="/about") About
        li
          a(href="/blog") Blog
      ul(id="mobile-demo" class="side-nav")
        li
          a(href="/gallery") Gallery
        li
          a(href="/about") About
        li
          a(href="/blog") Blog
      a(href="#" data-activates="mobile-demo" class="hide-on-med-only button-collapse right")
        i(class="material-icons") menu
        
