header.top-bar.site-header
  div(class="navbar-fixed")
    nav
      a(href="/" class="brand-logo left")
        img(class="logoImg",src="/img/me_wide.png")
      ul(class=" padMe right hide-on-small-and-down")
        li
          a(href="/gallery") home
        li
          a(href="/gallery") gallery
        li
          a(href="/about") about
        li
          a(href="/blog") blog
      ul(id="mobile-demo" class="side-nav right")
        li
          a(href="/gallery") home
        li
          a(href="/gallery") gallery
        li
          a(href="/about") about
        li
          a(href="/blog") blog
      a(href="#" data-activates="mobile-demo" class="hide-on-med-only button-collapse right")
        i(class="fa fa-bars" aria-hidden="true")

        
