extends structure/_layout.pug

block prepend head
  title Maia's Art
  meta(name="description", content="About Me!")

block content

  main.site-content
    div(class="aboutPannel-wrapper")
      div(class="flexcontainer")
        div(class="aboutPannel" style="border: 4px solid blue") 
          h1 Image
        div(class="aboutPannel" style="border: 4px solid blue") 
          h1 Blurb
