extends structure/_layout.pug

block prepend head
  title Maia's Art
  meta(name="description", content="About Me!")

block content

  main.site-content
    div(class="aboutPannel-wrapper")
      div(class="flexcontainer")
        div(class="aboutPannel flexcontainer") 
          img(src="img/aboutMaiaErickson.jpg")
        div(class="aboutPannel flexcontainer") 
          div(class="aboutBlurb")
            h4 Hey, I'm Maia!
            p Woke kickstarter jean shorts sriracha artisan shabby chic keytar bitters. 90's ugh squid kitsch pitchfork synth scenester. Craft beer vape tattooed, chicharrones skateboard kickstarter af austin master cleanse snackwave fashion axe brunch echo park. Meh austin helvetica, raclette shoreditch polaroid taiyaki VHS DIY unicorn 8-bit subway tile vape aesthetic. +1 venmo gentrify air plant kale chips, four loko mustache typewriter cronut hell of 90's gluten-free skateboard. Williamsburg bitters direct trade, slow-carb la croix ramps 3 wolf moon meh pop-up.  
