meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1")
block head
link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css")
link(rel="stylesheet" href="styles/style.processed.css")
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js")
link(rel="stylesheet" type="text/css" href="https://rawgit.com/andrewbiang888/GridGallery/master/css/component.css")
script(src="https://rawgit.com/andrewbiang888/GridGallery/master/js/modernizr.custom.js")